*{
    margin: 0;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2.5fr;
}

#rightSection{
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 5fr;
}